body {
	font-family: system-ui, sans-serif;
	margin: 0;
	--background: hsl(249, 11%, 90%);
	--hover: hsl(249, 11%, 75%);
	--border: hsl(0, 0%, 50%);
	--link: hsl(0, 0%, 25%);
}

.protoots-settings {
	margin-bottom: 0;
}

.section {
	background-color: var(--background);
	border-radius: 0.5em;
	margin: 0.5em;
	overflow: hidden;
}

.section .row {
	margin: unset;
	margin-bottom: 0.25em;
	background-color: var(--background);
	border-radius: unset;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	padding-right: 0.5em;
	display: flex;
	justify-content: space-between;
}

.row2 {
	background-color: hsl(249, 11%, 20%);
	padding-top: 0.5em;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	transition: color 0.1s linear;
}

.row2.disabled {
	color: grey;
}

.row2.disabled .togglebox:hover {
	background-color: unset;
}

.text2 span {
	/* border-bottom: solid 1px grey; */
	/* margin-bottom: 0.5em; */
	font-weight: bold;
	font-size: 1.1em;
	padding-left: 0.75em;
	user-select: none;
}

.row {
	background-color: var(--background);
	border-radius: 0.5em;
	margin: 0.5em;
	padding-right: 0.5em;
	display: flex;
	justify-content: space-between;
}

.switch {
	display: block;
	font-size: 1.1em;
	font-weight: bold;
	cursor: pointer;
	padding: 0.25em;
	padding-left: 0.75em;
	margin-top: 0.25em;
}

.contexts {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 1em;
	margin: 0.5em;
	margin-bottom: 0;
	padding-bottom: 0.5em;
}

.togglebox {
	border-radius: 1em;
	display: flex;
	align-items: baseline;
}

.togglebox:hover {
	background-color: #ffffff69;
}

.togglebox label {
	user-select: none;
	padding: 0 0 0 0.75em;
	margin: 0 0 0.5em 0;
}

label {
	flex-grow: 1;
}

input {
	margin: 0.75em;
}

.description {
	/* up right down left */
	padding: 0 0 0 0.75em;
	margin: 0 0 0.5em 0;
}

.description.toggle {
	padding-left: 0.5em;
	user-select: none;
}

.footer {
	background-color: var(--background);
	padding: 1em;
	border-top: 1px dashed var(--border);
	display: flex;
	gap: 0.5em;
	align-items: baseline;
	justify-content: space-between;
}

button {
	padding: 0.75em 1em;
	border-radius: 0.5em;
	border: 1px solid var(--border);
	cursor: pointer;
}

button:hover {
	background-color: var(--hover);
}

a {
	color: var(--link);
}

.beta {
	border-radius: 0.5em;
	border: 1px solid orange;
	background-color: rgba(255, 140, 0, 0.411);
	padding-left: 0.25em;
	padding-right: 0.25em;
	margin: 0;
	font-size: small;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #1c1b22;
		color: hsl(0, 0%, 90%);
		--background: hsl(249, 11%, 25%);
		--hover: hsl(249, 11%, 75%);
		--border: hsl(0, 0%, 90%);
		--link: hsl(0, 0%, 75%);
	}
}
