.protoots-proplate {
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	border-radius: 0.25rem;
	margin-left: 0.5rem;
	display: inline-flex;
	text-transform: lowercase;
}

/* dark theme */
.theme-default .protoots-proplate {
	/* header background */
	background-color: #313543;

	/* pulled from nowhere, basically just as low contrast as we can go while keeping AA rating */
	color: #aaa;
}

/* dark theme on detailed status */
.theme-default .detailed-status .protoots-proplate {
	/* scrollable background */
	background-color: #282c37;

	/* pulled from nowhere, basically just as low contrast as we can go while keeping AA rating */
	color: #aaa;
}

/* light theme */
.theme-mastodon-light .protoots-proplate {
	/* body background */
	background-color: #eff3f5;
	/* search bar foreground */
	color: #282c37;
}

/* high contrast */
.theme-contrast .protoots-proplate {
	background-color: black;
	color: #fff;
}

.theme-macaron .protoots-proplate {
	background-color: #c8c4dd;
}

.theme-fairy-floss .protoots-proplate {
	background-color: #474059;
}

/* rainbow pronouns for jasmin and i cause why not */
.proplate-pog:hover {
	background-image: linear-gradient(
		45deg,
		rgba(255, 0, 0, 1) 0%,
		rgba(255, 154, 0, 1) 10%,
		rgba(208, 222, 33, 1) 20%,
		rgba(79, 220, 74, 1) 30%,
		rgba(63, 218, 216, 1) 40%,
		rgba(47, 201, 226, 1) 50%,
		rgba(28, 127, 238, 1) 60%,
		rgba(95, 21, 242, 1) 70%,
		rgba(186, 12, 248, 1) 80%,
		rgba(251, 7, 217, 1) 90%,
		rgba(255, 0, 0, 1) 100%
	);
}
